@charset "UTF-8";
.container {
    padding-bottom: 100px;
}
.sub_top {
    width:100%;
    height:240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    h1 {
        font-size: 36px;
        font-weight: 700;
    }
    p {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        
    }
}
.faq {
    .sub_top {
        background: url(../img/common/sub_top_faq.png) no-repeat 0 0 / cover;
    }
    .inner {
        width:1024px;
        margin:0 auto;
    }
    .search_box {
        margin: 36px auto;
        width:420px;
        height: 56px;
        position: relative;
        border-bottom: 1px solid rgba(49,56,63,.8);
        input {
            display: flex;
            border: 0 solid #000;
            width: 100%;
            height: 100%;
            &::placeholder {
                color:#31383F;
            }
        }
        button {
            width: 36px;
            height: 36px;
            background: url(../img/common/ico_search.svg) no-repeat 50% 50%;
            position: absolute;right:10px;top:50%;transform: translateY(-50%);
        }
    }
    .keyword_list {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color:#31383F;
        li {
            margin:0 8px 8px 0;
            ;
            button {
                padding:11px 16px;
                background: #F5F7FA;
                border: 1px solid #EDF0F3;
                box-sizing: border-box;
                border-radius: 2px
            }
        }
    }
    .faq_list {
        margin: 40px 0;
        font-size: 16px;
        font-weight: 500;
        color:#31383f;
        button {
            display: flex;
            align-items: center;
            width: 100%; 
            height: 68px;
            padding-left: 12px;
            text-align: left;
            outline: none;
            background: url(../img/common/ico_arrow_down.svg) no-repeat  right 31px top 50%;
            border-bottom: 1px solid rgba(161,172,183,.4);
            &::before {
                content: 'Q.';
                display: inline-block;
                margin-right: 12px;
            }
        }
        button.on {
            border-bottom: 1px solid rgba(161,172,183,1);
        }
        .answer {
            display: none;
            padding:40px 20px;
            border-bottom: 1px solid rgba(161,172,183,.4);
        }
        .empty {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.notice {
    .sub_top {
        background: url(../img/common/sub_top_notice.png) no-repeat 0 0 / cover;
    }
    .inner {
        width:1024px;
        margin:0 auto;
    }
    .notice_list {
        margin: 72px 0 45px;
        font-size: 16px;
        font-weight: 500;
        li {
            display: flex;
            justify-content: space-between;
            padding:24px 40px 24px 12px;
            border-bottom: 1px solid rgba(161,172,183,.4);
            &.tit {
                padding:10px 40px 10px 12px;
                border-bottom: 1px solid rgba(49,56,63,.8);
                span {
                    &:last-child {width: 85px;}
                }
            }
            &:hover {
                background-color: #F7F9FB;
            }
        }
        .ico {
            background-color: #FF5D5D;
            font-size: 11px;
            border-radius: 2px;
            padding:7px 6px 5px;
            margin-right: 10px;
            color:#fff;
        }
    }
}
.notice_view {
    width:1024px;
    margin-bottom: 56px;
    .view_top {
        margin-top: 64px;
        color:#31383F;
        .tit {
            display: flex;
            align-items: center;
            font-size: 32px;
            font-weight: 700;
            .ico {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                margin-right: 12px;
                padding:6px;
                font-size: 11px;
                color:#fff;
                background-color: #FF5D5D;
                border-radius: 2px;
            }
        }
        .date {
            margin: 16px 0;
            font-size: 20px;color:#31383F;
        }  
    }
    .text_box {
        font-size: 16px;
        color:#31383F;
        line-height: 24px;
        padding:40px 20px;
        border-top: 1px solid rgba(49,56,63,.8);
        border-bottom: 1px solid rgba(161,172,183,.4);
    }
}
.btn_wrap {display: flex;justify-content: center;}
.btn_list {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding:16px 30px;
    border: 1px solid rgba(49,56,63,.5);
}

.shop {
    .sub_top {
        background: url(../img/common/sub_top_shop.png) no-repeat 0 0 / cover;
    }
    .shop_info {
        margin:68px 0 120px;
        .info_top {
            width:1000px;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            & > p {                
                font-size: 28px;
                line-height: 42px;
            }
            .intro_box {
                width: 585px;
                font-size: 16px;
                line-height: 22px;
                padding-bottom: 80px;
                p {
                    margin-bottom: 20px;
                    &:last-child {
                        margin:40px 0 0;
                        span {
                            display: block;
                            color:#D1AD86;
                            font-size: 18px;
                            margin-bottom: 5px;
                        }
                        strong {
                            color:#31383F;
                        }
                    }
                }
            }
        }
        .info_mid {
            position: relative;
            padding-top: 72px;
            .in_cont {
                width:1000px;
                margin:0 auto;
                h2 {
                    text-align: center;
                    font-size: 32px;
                    font-weight: 600;
                    & + p {
                        text-align: center;   
                        font-size: 18px;
                        line-height: 29px;
                    }
                }
                .tab_list {
                    margin: 40px 0;
                    display: flex;
                    justify-content: center;
                    a {
                        display: block;
                        position: relative;
                        margin:0 20px;
                        padding-bottom: 8px;
                        font-size: 20px;
                        font-weight: 700;
                        color:rgba(52,58,64,.5);
                        &.on {
                            color:rgba(52,58,64,1);
                            &:after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 4px;
                                background-color: #D1AD86;
                                position: absolute;
                                left: 0;
                                bottom:0;
                            }
                        }
                    }
                }
                .address_box {
                    width: 900px;
                    margin:0 auto;
                    transform: translateY(-35px);
                    padding:32px 36px 0;
                    background-color: #fff;
                    h3 {
                        font-size: 28px;
                        font-weight: 700;
                    }
                    dl {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 16px;
                        margin-top: 25px;
                        div {
                            width: 65%;
                            display: flex;
                            margin-bottom: 20px;
                            &:nth-child(even) {
                                width: 35%;
                            }
                        }
                        dt {
                            color:#343A40;
                            font-weight: 700;
                            width: 100px;
                        }
                        dd {
                            color:#596066
                        }
                    
                    }
                }
                .shop_map {
                    width: 836px;
                    margin:0 auto;
                }

            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left:0;
                top:0;
                width:100%;
                height:415px;
                background-color: #EDF0F3;
                z-index: -1;
            }            
        }
    }
}