.container {
  padding-bottom: 100px;
}

.sub_top {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.sub_top h1 {
  font-size: 36px;
  font-weight: 700;
}

.sub_top p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.faq .sub_top {
  background: url(../img/common/sub_top_faq.png) no-repeat 0 0/cover;
}

.faq .inner {
  width: 1024px;
  margin: 0 auto;
}

.faq .search_box {
  margin: 36px auto;
  width: 420px;
  height: 56px;
  position: relative;
  border-bottom: 1px solid rgba(49, 56, 63, 0.8);
}

.faq .search_box input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0 solid #000;
  width: 100%;
  height: 100%;
}

.faq .search_box input::-webkit-input-placeholder {
  color: #31383F;
}

.faq .search_box input:-ms-input-placeholder {
  color: #31383F;
}

.faq .search_box input::-ms-input-placeholder {
  color: #31383F;
}

.faq .search_box input::placeholder {
  color: #31383F;
}

.faq .search_box button {
  width: 36px;
  height: 36px;
  background: url(../img/common/ico_search.svg) no-repeat 50% 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq .keyword_list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  color: #31383F;
}

.faq .keyword_list li {
  margin: 0 8px 8px 0;
}

.faq .keyword_list li button {
  padding: 11px 16px;
  background: #F5F7FA;
  border: 1px solid #EDF0F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.faq .faq_list {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 500;
  color: #31383f;
}

.faq .faq_list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 68px;
  padding-left: 12px;
  text-align: left;
  outline: none;
  background: url(../img/common/ico_arrow_down.svg) no-repeat right 31px top 50%;
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.faq .faq_list button::before {
  content: 'Q.';
  display: inline-block;
  margin-right: 12px;
}

.faq .faq_list button.on {
  border-bottom: 1px solid #a1acb7;
}

.faq .faq_list .answer {
  display: none;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.faq .faq_list .empty {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notice .sub_top {
  background: url(../img/common/sub_top_notice.png) no-repeat 0 0/cover;
}

.notice .inner {
  width: 1024px;
  margin: 0 auto;
}

.notice .notice_list {
  margin: 72px 0 45px;
  font-size: 16px;
  font-weight: 500;
}

.notice .notice_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 40px 24px 12px;
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.notice .notice_list li.tit {
  padding: 10px 40px 10px 12px;
  border-bottom: 1px solid rgba(49, 56, 63, 0.8);
}

.notice .notice_list li.tit span:last-child {
  width: 85px;
}

.notice .notice_list li:hover {
  background-color: #F7F9FB;
}

.notice .notice_list .ico {
  background-color: #FF5D5D;
  font-size: 11px;
  border-radius: 2px;
  padding: 7px 6px 5px;
  margin-right: 10px;
  color: #fff;
}

.notice_view {
  width: 1024px;
  margin-bottom: 56px;
}

.notice_view .view_top {
  margin-top: 64px;
  color: #31383F;
}

.notice_view .view_top .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.notice_view .view_top .tit .ico {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  margin-right: 12px;
  padding: 6px;
  font-size: 11px;
  color: #fff;
  background-color: #FF5D5D;
  border-radius: 2px;
}

.notice_view .view_top .date {
  margin: 16px 0;
  font-size: 20px;
  color: #31383F;
}

.notice_view .text_box {
  font-size: 16px;
  color: #31383F;
  line-height: 24px;
  padding: 40px 20px;
  border-top: 1px solid rgba(49, 56, 63, 0.8);
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 16px 30px;
  border: 1px solid rgba(49, 56, 63, 0.5);
}

.shop .sub_top {
  background: url(../img/common/sub_top_shop.png) no-repeat 0 0/cover;
}

.shop .shop_info {
  margin: 68px 0 120px;
}

.shop .shop_info .info_top {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop .shop_info .info_top > p {
  font-size: 28px;
  line-height: 42px;
}

.shop .shop_info .info_top .intro_box {
  width: 585px;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 80px;
}

.shop .shop_info .info_top .intro_box p {
  margin-bottom: 20px;
}

.shop .shop_info .info_top .intro_box p:last-child {
  margin: 40px 0 0;
}

.shop .shop_info .info_top .intro_box p:last-child span {
  display: block;
  color: #D1AD86;
  font-size: 18px;
  margin-bottom: 5px;
}

.shop .shop_info .info_top .intro_box p:last-child strong {
  color: #31383F;
}

.shop .shop_info .info_mid {
  position: relative;
  padding-top: 72px;
}

.shop .shop_info .info_mid .in_cont {
  width: 1000px;
  margin: 0 auto;
}

.shop .shop_info .info_mid .in_cont h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.shop .shop_info .info_mid .in_cont h2 + p {
  text-align: center;
  font-size: 18px;
  line-height: 29px;
}

.shop .shop_info .info_mid .in_cont .tab_list {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop .shop_info .info_mid .in_cont .tab_list a {
  display: block;
  position: relative;
  margin: 0 20px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(52, 58, 64, 0.5);
}

.shop .shop_info .info_mid .in_cont .tab_list a.on {
  color: #343a40;
}

.shop .shop_info .info_mid .in_cont .tab_list a.on:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #D1AD86;
  position: absolute;
  left: 0;
  bottom: 0;
}

.shop .shop_info .info_mid .in_cont .address_box {
  width: 900px;
  margin: 0 auto;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  padding: 32px 36px 0;
  background-color: #fff;
}

.shop .shop_info .info_mid .in_cont .address_box h3 {
  font-size: 28px;
  font-weight: 700;
}

.shop .shop_info .info_mid .in_cont .address_box dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  margin-top: 25px;
}

.shop .shop_info .info_mid .in_cont .address_box dl div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.shop .shop_info .info_mid .in_cont .address_box dl div:nth-child(even) {
  width: 35%;
}

.shop .shop_info .info_mid .in_cont .address_box dl dt {
  color: #343A40;
  font-weight: 700;
  width: 100px;
}

.shop .shop_info .info_mid .in_cont .address_box dl dd {
  color: #596066;
}

.shop .shop_info .info_mid .in_cont .shop_map {
  width: 836px;
  margin: 0 auto;
}

.shop .shop_info .info_mid::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 415px;
  background-color: #EDF0F3;
  z-index: -1;
}

.login .inner {
  width: 340px;
  margin: 80px auto;
}

.login h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid #31383F;
  border-radius: 1px;
  padding-bottom: 8px;
}

.login .login_input {
  margin-top: 30px;
}

.login .login_input input:not([type="checkbox"]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
  margin-bottom: 8px;
  padding: 0 16px;
}

.login .login_input input:not([type="checkbox"]):first-child {
  margin-top: 0;
}

.login .login_input input:not([type="checkbox"])::-webkit-input-placeholder {
  font-size: 16px;
  color: #31383F;
  opacity: .5;
}

.login .login_input input:not([type="checkbox"]):-ms-input-placeholder {
  font-size: 16px;
  color: #31383F;
  opacity: .5;
}

.login .login_input input:not([type="checkbox"])::-ms-input-placeholder {
  font-size: 16px;
  color: #31383F;
  opacity: .5;
}

.login .login_input input:not([type="checkbox"])::placeholder {
  font-size: 16px;
  color: #31383F;
  opacity: .5;
}

.login .login_input .error_txt {
  margin: 8px 0 0;
  font-size: 14px;
  color: #FF5353;
}

.login .login_input .btn_login {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  background-color: #31383F;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.login .login_input .auto_login {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.login .login_input .auto_login input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
}

.login .login_input .auto_login input:checked {
  background: url(../img/common/ico_check_on.svg) no-repeat 0 0/cover;
  border: 0 solid #000;
}

.login .login_input .auto_login span {
  margin-left: 8px;
}

.login .link_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-top: 16px;
  border-top: 1px solid rgba(161, 172, 183, 0.35);
  font-size: 14px;
}

.login .link_wrap a {
  position: relative;
}

.login .link_wrap a:last-child {
  padding-left: 16px;
  margin-left: 16px;
}

.login .link_wrap a:last-child::after {
  display: block;
  content: '';
  width: 1px;
  height: 12px;
  background-color: #A1ACB7;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .35;
}

.join_agree p {
  margin-top: 8px;
  font-size: 14px;
  opacity: .75;
  color: #343a40;
}

.join_agree label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

p + label span {
  font-weight: 700;
}

.join_agree label input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
}

.join_agree label input:checked {
  background: url(../img/common/ico_check_on.svg) no-repeat 0 0/cover;
  border: 0 solid #000;
}

.join_agree label span {
  margin-left: 8px;
  font-size: 14px;
}

.join_agree .scroll_box {
  width: 100%;
  height: 140px;
  margin-top: 12px;
  padding: 12px;
  overflow-y: auto;
  border: 1px solid #C2CCD5;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.join_agree .btn_join {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  background-color: #31383F;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.join_agree .btn_home {
  display: block;
  font-size: 14px;
  margin: 20px auto 0;
  text-align: center;
}

.join_member {
  padding-top: 20px;
}

.join_member input + .t1 {
  margin-top: 12px;
}

.join_member .t1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #343A40;
}

.join_member > div {
  margin-bottom: 20px;
}

.join_member > div input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  height: 48px;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
  font-weight: 500;
  font-size: 14px;
}

.join_member > div input + input {
  margin-top: 8px;
}

.join_member > div input::-webkit-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.join_member > div input:-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.join_member > div input::-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.join_member > div input::placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.join_member > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.join_member > label input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
}

.join_member > label input:checked {
  background: url(../img/common/ico_check_on.svg) no-repeat 0 0/cover;
  border: 0 solid #000;
}

.join_member > label span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.join_member .txt {
  margin-top: 32px;
  font-size: 12px;
  color: #343a40;
  font-weight: 500;
}

.join_member .auto_regist {
  padding-bottom: 30px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(161, 172, 183, 0.35);
}

.join_member .auto_regist input {
  width: 150px;
}

.join_member .auto_regist button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join_member .error_txt {
  margin: 8px 0 0;
  font-size: 14px;
  color: #FF5353;
}

.join_member .btn_join {
  margin-top: 28px;
  width: 100%;
  height: 48px;
  background-color: #31383F;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.join_member .btn_home {
  display: block;
  font-size: 14px;
  margin: 20px auto 0;
  text-align: center;
  font-weight: 500;
}

.mypage .password_check {
  margin-top: 120px;
  text-align: center;
  color: #31383F;
}

.mypage .password_check h2 {
  font-size: 20px;
  font-weight: 700;
}

.mypage .password_check .stit {
  margin-top: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.mypage .password_check .input_box {
  width: 340px;
  margin: 32px auto 0;
}

.mypage .password_check .input_box p {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.mypage .password_check .input_box input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  padding: 0 16px;
  height: 48px;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
  font-weight: 500;
  font-size: 14px;
}

.mypage .password_check .input_box input::-webkit-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage .password_check .input_box input:-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage .password_check .input_box input::-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage .password_check .input_box input::placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage .password_check .input_box .error_txt {
  margin: 8px 0 0;
  font-size: 14px;
  color: #FF5353;
}

.mypage .password_check .btn_wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage .password_check .btn_wrap .ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  width: 120px;
  height: 48px;
  background: #31383F;
  border-radius: 1px;
}

.mypage_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  padding: 0 40px;
  margin: 60px auto 20px;
}

.mypage_info .profile_nav {
  width: 180px;
  margin-right: 30px;
}

.mypage_info .profile_nav .user_wrap {
  font-size: 20px;
  color: #31383F;
  font-weight: 500;
  line-height: 1.2;
}

.mypage_info .profile_nav .user_wrap strong {
  display: block;
  font-weight: 700;
}

.mypage_info .profile_nav .user_wrap::before {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  margin-bottom: 10px;
  background: url(../img/common/ico_profile.svg) no-repeat 0 0/cover;
}

.mypage_info .profile_nav ul {
  margin-top: 20px;
}

.mypage_info .profile_nav ul li:nth-child(1) {
  border-bottom: 1px solid rgba(161, 172, 183, 0.35);
  padding-bottom: 24px;
  line-height: 1.2;
}

.mypage_info .profile_nav ul li:nth-child(1) .grade {
  display: block;
  font-size: 14px;
  color: #A1ACB7;
  font-weight: 700;
}

.mypage_info .profile_nav ul li:nth-child(1) a {
  font-size: 12px;
  font-weight: 500;
  color: #31383F;
  text-decoration: underline;
}

.mypage_info .profile_nav ul li:nth-child(n + 2):nth-child(-n+5) {
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  color: rgba(49, 56, 63, 0.75);
}

.mypage_info .profile_nav ul li:last-child {
  border-top: 1px solid rgba(161, 172, 183, 0.35);
}

.mypage_info .profile_nav ul li.on a {
  font-weight: 700;
  color: #31383F;
}

.mypage_info .profile_nav .btn_logout {
  display: block;
  width: 100%;
  margin: 24px 0 0;
  padding: 11px 0;
  border: 1px solid #31383F;
  border-radius: 1px;
  font-weight: 500;
  font-size: 16px;
}

.mypage_info .profile_nav .btn_withdrawal {
  font-weight: 500;
  font-size: 13px;
  color: rgba(49, 56, 63, 0.75);
}

.mypage_info .mypage_cont {
  width: calc(100% - 210px);
}

.mypage_info .mypage_cont h2 {
  font-size: 24px;
  font-weight: 700;
  color: #31383F;
}

.mypage_info .mypage_cont .btn_wrap {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage_info .mypage_cont .btn_wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 4px;
  width: 120px;
  height: 48px;
  border: 1px solid #31383F;
  border-radius: 1px;
  font-weight: 500;
  font-size: 16px;
}

.mypage_info .mypage_cont .btn_wrap button.ok {
  background: #31383F;
  color: #fff;
}

.mypage_info .mypage_cont .error_txt {
  margin: 8px 0 0;
  font-size: 14px;
  color: #FF5353;
  text-align: center;
}

.mypage_info .mypage_cont .change_box {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
}

.mypage_info .mypage_cont h2 + .info_editor {
  margin-top: 9px;
  border-top: 1px solid #31383F;
}

.mypage_info .mypage_cont h2 + .info_editor strong {
  font-size: 20px;
  color: #A1ACB7;
  font-weight: 700;
}

.mypage_info .mypage_cont h2 + .info_editor button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  height: 40px;
  background: #31383F;
  border-radius: 1px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 0 16px;
  margin-left: 16px;
}

.mypage_info .mypage_cont .info_editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 40px;
  border-bottom: 1px solid #A1ACB7;
  /* named upload */
}

.mypage_info .mypage_cont .info_editor h3 {
  width: 275px;
  font-size: 20px;
  font-weight: 700;
}

.mypage_info .mypage_cont .info_editor input + .t1 {
  margin-top: 12px;
}

.mypage_info .mypage_cont .info_editor > div {
  width: 440px;
}

.mypage_info .mypage_cont .info_editor .t1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #343A40;
}

.mypage_info .mypage_cont .info_editor > div input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  height: 48px;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
  font-weight: 500;
  font-size: 14px;
}

.mypage_info .mypage_cont .info_editor > div input + input {
  margin-top: 8px;
}

.mypage_info .mypage_cont .info_editor > div input::-webkit-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage_info .mypage_cont .info_editor > div input:-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage_info .mypage_cont .info_editor > div input::-ms-input-placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage_info .mypage_cont .info_editor > div input::placeholder {
  color: rgba(49, 56, 63, 0.5);
}

.mypage_info .mypage_cont .info_editor .profile_img {
  margin-top: 28px;
}

.mypage_info .mypage_cont .info_editor .profile_img p {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
}

.mypage_info .mypage_cont .info_editor label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.mypage_info .mypage_cont .info_editor label input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
}

.mypage_info .mypage_cont .info_editor label input:checked {
  background: url(../img/common/ico_check_on.svg) no-repeat 0 0/cover;
  border: 0 solid #000;
}

.mypage_info .mypage_cont .info_editor label span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.mypage_info .mypage_cont .info_editor .filebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mypage_info .mypage_cont .info_editor .filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mypage_info .mypage_cont .info_editor .upload-hidden {
  display: none;
}

.mypage_info .mypage_cont .info_editor .filebox label {
  display: inline-block;
  width: 84px;
  height: 48px;
  padding: 14px .75em;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #31383F;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mypage_info .mypage_cont .info_editor .filebox .upload-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 274px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #C2CCD5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
}

.mypage_info .mypage_cont .list_wrap {
  position: relative;
}

.mypage_info .mypage_cont .list_wrap + .list_wrap {
  margin-top: 60px;
}

.mypage_info .mypage_cont .list_wrap .btn_all {
  position: absolute;
  right: 0;
  top: 7px;
  font-weight: 500;
  font-size: 12px;
  color: #31383F;
  text-decoration: underline;
}

.mypage_info .mypage_cont .list_wrap .tbl {
  margin-top: 10px;
  border-top: 2px solid #31383F;
}

.mypage_info .mypage_cont .list_wrap .tbl th {
  font-size: 13px;
  text-align: left;
  padding: 18px 0 18px 10px;
  font-weight: 500;
  border-bottom: 1px solid #A1ACB7;
}

.mypage_info .mypage_cont .list_wrap .tbl td {
  font-size: 13px;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #A1ACB7;
}

.mypage_info .mypage_cont .list_wrap .tbl .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 26px;
  border: 1px solid #31383F;
  border-radius: 100px;
  font-weight: 500;
  font-size: 13px;
}

.mypage_info .mypage_cont .list_wrap .tbl .state.cancel {
  opacity: .5;
}

.mypage_info .mypage_cont .list_wrap .tbl .state.complete {
  opacity: .8;
}

.mypage_info .mypage_cont .list_wrap .tbl .state_txt {
  font-weight: 500;
  font-size: 13px;
  color: #596066;
}

.mypage_info .mypage_cont .list_wrap .tbl .state_txt.t1 {
  color: #AAB4C4;
}

.mypage_info .mypage_cont .list_wrap .tbl .state_txt.stay {
  color: #3AAD68;
}

.mypage_info .mypage_cont .list_wrap .tbl .type {
  color: #A1ACB7;
}

.mypage_info .mypage_cont .list_wrap .tbl .empty p {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #31383F;
}

.mypage_info .mypage_cont .list_wrap .tbl .price {
  color: #FF5353;
}

.mypage_info .mypage_cont .list_wrap .paging {
  margin-top: 44px;
}

.mypage_info .mypage_cont .list_wrap .tab_list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mypage_info .mypage_cont .list_wrap .tab_list p {
  font-weight: 500;
  font-size: 12px;
  color: rgba(49, 56, 63, 0.75);
  text-align: right;
}

.mypage_info .mypage_cont .list_wrap .tab_list .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mypage_info .mypage_cont .list_wrap .tab_list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 36px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid rgba(161, 172, 183, 0.35);
  border-radius: 1px;
}

.mypage_info .mypage_cont .list_wrap .tab_list a.on {
  background: #31383F;
  border: 1px solid #31383F;
  color: #fff;
}

.mypage_info .mypage_cont .check_wrap {
  position: relative;
}

.mypage_info .mypage_cont .check_wrap .check_list {
  margin-top: 10px;
  border-top: 1px solid #31383F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mypage_info .mypage_cont .check_wrap .check_list label {
  width: calc(100% / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0;
}

.mypage_info .mypage_cont .check_wrap .check_list label input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #C2CCD5;
  border-radius: 1px;
}

.mypage_info .mypage_cont .check_wrap .check_list label input:checked {
  background: url(../img/common/ico_check_on.svg) no-repeat 0 0/cover;
  border: 0 solid #000;
}

.mypage_info .mypage_cont .check_wrap .check_list label span {
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
}

.mypage_info .mypage_cont .check_wrap + .check_wrap {
  margin-top: 60px;
}

.mypage_info .mypage_cont .check_wrap + .btn_wrap {
  padding-top: 28px;
  border-top: 1px solid #A1ACB7;
}
/*# sourceMappingURL=layout.css.map */