.container {
  padding-bottom: 100px;
}

.sub_top {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.sub_top h1 {
  font-size: 36px;
  font-weight: 700;
}

.sub_top p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.faq .sub_top {
  background: url(../img/common/sub_top_faq.png) no-repeat 0 0/cover;
}

.faq .inner {
  width: 1024px;
  margin: 0 auto;
}

.faq .search_box {
  margin: 36px auto;
  width: 420px;
  height: 56px;
  position: relative;
  border-bottom: 1px solid rgba(49, 56, 63, 0.8);
}

.faq .search_box input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0 solid #000;
  width: 100%;
  height: 100%;
}

.faq .search_box input::-webkit-input-placeholder {
  color: #31383F;
}

.faq .search_box input:-ms-input-placeholder {
  color: #31383F;
}

.faq .search_box input::-ms-input-placeholder {
  color: #31383F;
}

.faq .search_box input::placeholder {
  color: #31383F;
}

.faq .search_box button {
  width: 36px;
  height: 36px;
  background: url(../img/common/ico_search.svg) no-repeat 50% 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq .keyword_list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  color: #31383F;
}

.faq .keyword_list li {
  margin: 0 8px 8px 0;
}

.faq .keyword_list li button {
  padding: 11px 16px;
  background: #F5F7FA;
  border: 1px solid #EDF0F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.faq .faq_list {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 500;
  color: #31383f;
}

.faq .faq_list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 68px;
  padding-left: 12px;
  text-align: left;
  outline: none;
  background: url(../img/common/ico_arrow_down.svg) no-repeat right 31px top 50%;
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.faq .faq_list button::before {
  content: 'Q.';
  display: inline-block;
  margin-right: 12px;
}

.faq .faq_list button.on {
  border-bottom: 1px solid #a1acb7;
}

.faq .faq_list .answer {
  display: none;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(161, 172, 183, 0.4);
}

.faq .faq_list .empty {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=layout.css.map */